<h1>Hello, <%= @player_name %>!</h1>

<% unless @player_weapon %>
  <form action="/play" method="post">
    <input type="submit" name="player_weapon" value="rock">
    <input type="submit" name="player_weapon" value="paper">
    <input type="submit" name="player_weapon" value="scissors">
  </form>
<% end %>

<% if @player_weapon %>
  <h2>You chose <%= @player_weapon %>!</h2>
<% end %>
