<h1>Hello, <%= @game.player_name %>!</h1>

<% unless @game.player_weapon %>
  <form action="/play" method="post">
    <input type="submit" name="player_weapon" value="rock">
    <input type="submit" name="player_weapon" value="paper">
    <input type="submit" name="player_weapon" value="scissors">
  </form>
<% end %>

<% if @game.player_weapon %>
  <h2>You chose <%= @game.player_weapon %>!</h2>
  <h2>Computer chose <%= @game.computer_weapon %>!</h2>
<% end %>
